@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Medium.woff2") format("woff2"), url("../fonts/TT_Bricks_Trial_Medium.woff") format("woff");
}
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Bold.woff2") format("woff2"), url("../fonts/TT_Bricks_Trial_Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Medium_Italic.woff2") format("woff2"), url("../fonts/TT_Bricks_Trial_Medium_Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Bold_Italic.woff2") format("woff2"), url("../fonts/TT_Bricks_Trial_Bold_Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Clarendon";
  src: url("../fonts/Clarendon-Regular.woff2") format("woff2"), url("../fonts/Clarendon-Regular.woff") format("woff");
}
@font-face {
  font-family: "TopazPlus a500";
  src: url("../fonts/TopazPlus_a500_v1.0.woff2") format("woff2"), url("../fonts/TopazPlus_a500_v1.0.woff") format("woff");
}
@font-face {
  font-family: "TopazPlus a1200";
  src: url("../fonts/TopazPlus_a1200_v1.0.woff2") format("woff2"), url("../fonts/TopazPlus_a1200_v1.0.woff") format("woff");
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-Regular.woff2") format("woff2"), url("../fonts/ArimoNerdFont-Regular.woff") format("woff");
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-Bold.woff2") format("woff2"), url("../fonts/ArimoNerdFont-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-Italic.woff2") format("woff2"), url("../fonts/ArimoNerdFont-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-BoldItalic.woff2") format("woff2"), url("../fonts/ArimoNerdFont-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "CozetteVector";
  src: url("../fonts/CozetteVector.woff2") format("woff2"), url("../fonts/CozetteVector.woff") format("woff");
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-Regular.woff2") format("woff2"), url("../fonts/TerminusTTF-Regular.woff") format("woff");
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-Bold.woff2") format("woff2"), url("../fonts/TerminusTTF-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-Italic.woff2") format("woff2"), url("../fonts/TerminusTTF-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-BoldItalic.woff2") format("woff2"), url("../fonts/TerminusTTF-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Charcoal Pixelated";
  src: url("../fonts/Charcoal-Pixelated.woff2") format("woff2"), url("../fonts/Charcoal-Pixelated.woff") format("woff");
}
@font-face {
  font-family: "Nine By Five NBP";
  src: url("../fonts/Nine-By-Five-NBP.woff2") format("woff2"), url("../fonts/Nine-By-Five-NBP.woff") format("woff");
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.woff2") format("woff2"), url("../fonts/LibreBaskerville-Regular.woff") format("woff");
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Bold.woff2") format("woff2"), url("../fonts/LibreBaskerville-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Italic.woff2") format("woff2"), url("../fonts/LibreBaskerville-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-Regular.woff2") format("woff2"), url("../fonts/Essays1743-Regular.woff") format("woff");
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-Bold.woff2") format("woff2"), url("../fonts/Essays1743-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-Italic.woff2") format("woff2"), url("../fonts/Essays1743-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-BoldItalic.woff2") format("woff2"), url("../fonts/Essays1743-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/CaslonAntique-Regular.woff2") format("woff2"), url("../fonts/Caslon-Antique-Regular.woff") format("woff");
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/Caslon-Antique-Bold.woff2") format("woff2"), url("../fonts/CaslonAntique-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/CaslonAntique-Italic.woff2") format("woff2"), url("../fonts/Caslon-Antique-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/CaslonAntique-BoldItalic.woff2") format("woff2"), url("../fonts/Caslon-Antique-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PC-98";
  src: url("../fonts/PC-98-Regular.woff2") format("woff2"), url("../fonts/PC-98-Regular.woff") format("woff");
}
@font-face {
  font-family: "PC-98";
  src: url("../fonts/PC-98-Bold.woff2") format("woff2"), url("../fonts/PC-98-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slim-Regular.woff2") format("woff2"), url("../fonts/Komika-Slim-Regular.woff") format("woff");
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slick-Regular.woff2") format("woff2"), url("../fonts/Komika-Slick-Regular.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slim-Italic.woff2") format("woff2"), url("../fonts/Komika-Slim-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slick-Italic.woff2") format("woff2"), url("../fonts/Komika-Slick-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "GROBOLD";
  src: url("../fonts/GROBOLD.woff2") format("woff2"), url("../fonts/GROBOLD.woff") format("woff");
}
@font-face {
  font-family: "DFPOCOC";
  src: url("../fonts/DFPOCOC.woff2") format("woff2"), url("../fonts/DFPOCOC.woff") format("woff");
}
@font-face {
  font-family: "Fami Sans";
  src: url("../fonts/Fami-Sans.woff2") format("woff2"), url("../fonts/Fami-Sans.woff") format("woff");
}
@font-face {
  font-family: "Fami Sans";
  src: url("../fonts/Fami-Sans-Bold.woff2") format("woff2"), url("../fonts/Fami-Sans-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Fami Sans Condensed";
  src: url("../fonts/Fami-Sans-Condensed.woff2") format("woff2"), url("../fonts/Fami-Sans-Condensed.woff") format("woff");
}
@font-face {
  font-family: "Fami Sans Condensed";
  src: url("../fonts/Fami-Sans-Condensed-Bold.woff2") format("woff2"), url("../fonts/Fami-Sans-Condensed-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Fami Serif";
  src: url("../fonts/Fami-Serif.woff2") format("woff2"), url("../fonts/Fami-Serif.woff") format("woff");
}
@font-face {
  font-family: "Fami Serif";
  src: url("../fonts/Fami-Serif-Bold.woff2") format("woff2"), url("../fonts/Fami-Serif-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Fami Square";
  src: url("../fonts/Fami-Square.woff2") format("woff2"), url("../fonts/Fami-Square.woff") format("woff");
}
@font-face {
  font-family: "Fami Square";
  src: url("../fonts/Fami-Square-Bold.woff2") format("woff2"), url("../fonts/Fami-Square-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-Regular.woff2") format("woff2"), url("../fonts/Arial-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-Bold.woff2") format("woff2"), url("../fonts/Arial-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-Italic.woff2") format("woff2"), url("../fonts/Arial-Pixelated-16-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-BoldItalic.woff2") format("woff2"), url("../fonts/Arial-Pixelated-16-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-Regular.woff2") format("woff2"), url("../fonts/Arial-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-Bold.woff2") format("woff2"), url("../fonts/Arial-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-Italic.woff2") format("woff2"), url("../fonts/Arial-Pixelated-24-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-BoldItalic.woff2") format("woff2"), url("../fonts/Arial-Pixelated-24-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-Regular.woff2") format("woff2"), url("../fonts/Arial-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-Bold.woff2") format("woff2"), url("../fonts/Arial-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-Italic.woff2") format("woff2"), url("../fonts/Arial-Pixelated-32-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-BoldItalic.woff2") format("woff2"), url("../fonts/Arial-Pixelated-32-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Comic Sans Pixelated 16";
  src: url("../fonts/Comic-Sans-Pixelated-16-Regular.woff2") format("woff2"), url("../fonts/Comic-Sans-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Comic Sans Pixelated 16";
  src: url("../fonts/Comic-Sans-Pixelated-16-Bold.woff2") format("woff2"), url("../fonts/Comic-Sans-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans Pixelated 24";
  src: url("../fonts/Comic-Sans-Pixelated-24-Regular.woff2") format("woff2"), url("../fonts/Comic-Sans-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Comic Sans Pixelated 24";
  src: url("../fonts/Comic-Sans-Pixelated-24-Bold.woff2") format("woff2"), url("../fonts/Comic-Sans-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans Pixelated 32";
  src: url("../fonts/Comic-Sans-Pixelated-32-Regular.woff2") format("woff2"), url("../fonts/Comic-Sans-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Comic Sans Pixelated 32";
  src: url("../fonts/Comic-Sans-Pixelated-32-Bold.woff2") format("woff2"), url("../fonts/Comic-Sans-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-Regular.woff2") format("woff2"), url("../fonts/Courier-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-Bold.woff2") format("woff2"), url("../fonts/Courier-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-Italic.woff2") format("woff2"), url("../fonts/Courier-Pixelated-16-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-BoldItalic.woff2") format("woff2"), url("../fonts/Courier-Pixelated-16-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-Regular.woff2") format("woff2"), url("../fonts/Courier-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-Bold.woff2") format("woff2"), url("../fonts/Courier-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-Italic.woff2") format("woff2"), url("../fonts/Courier-Pixelated-24-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-BoldItalic.woff2") format("woff2"), url("../fonts/Courier-Pixelated-24-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-Regular.woff2") format("woff2"), url("../fonts/Courier-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-Bold.woff2") format("woff2"), url("../fonts/Courier-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-Italic.woff2") format("woff2"), url("../fonts/Courier-Pixelated-32-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-BoldItalic.woff2") format("woff2"), url("../fonts/Courier-Pixelated-32-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lucida Hand Pixelated 16";
  src: url("../fonts/Lucida-Hand-Pixelated-16-Regular.woff2") format("woff2"), url("../fonts/Lucida-Hand-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lucida Hand Pixelated 24";
  src: url("../fonts/Lucida-Hand-Pixelated-24-Regular.woff2") format("woff2"), url("../fonts/Lucida-Hand-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lucida Hand Pixelated 32";
  src: url("../fonts/Lucida-Hand-Pixelated-32-Regular.woff2") format("woff2"), url("../fonts/Lucida-Hand-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "MS Sans Pixelated 13";
  src: url("../fonts/MS-Sans-Pixelated-13-Regular.woff2") format("woff2"), url("../fonts/MS-Sans-Pixelated-13-Regular.woff") format("woff");
}
@font-face {
  font-family: "MS Sans Pixelated 17";
  src: url("../fonts/MS-Sans-Pixelated-17-Regular.woff2") format("woff2"), url("../fonts/MS-Sans-Pixelated-17-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-Regular.woff2") format("woff2"), url("../fonts/Times-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-Bold.woff2") format("woff2"), url("../fonts/Times-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-Italic.woff2") format("woff2"), url("../fonts/Times-Pixelated-16-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-BoldItalic.woff2") format("woff2"), url("../fonts/Times-Pixelated-16-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-Regular.woff2") format("woff2"), url("../fonts/Times-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-Bold.woff2") format("woff2"), url("../fonts/Times-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-Italic.woff2") format("woff2"), url("../fonts/Times-Pixelated-24-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-BoldItalic.woff2") format("woff2"), url("../fonts/Times-Pixelated-24-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-Regular.woff2") format("woff2"), url("../fonts/Times-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-Bold.woff2") format("woff2"), url("../fonts/Times-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-Italic.woff2") format("woff2"), url("../fonts/Times-Pixelated-32-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-BoldItalic.woff2") format("woff2"), url("../fonts/Times-Pixelated-32-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Azuki";
  src: url("../fonts/Azuki-Regular.woff2") format("woff2"), url("../fonts/Azuki-Regular.woff") format("woff");
}
@font-face {
  font-family: "Azuki";
  src: url("../fonts/Azuki-Bold.woff2") format("woff2"), url("../fonts/Azuki-Bold.woff") format("woff");
  font-weight: bold;
}
/*FONT IMPORT END*/
.wapnet-light {
  font-family: "CozetteVector";
  color: black;
  background: url("../images/antisnow.gif") repeat, #e2e0de;
}
.wapnet-light #wapnetLogo {
  pointer-events: none;
}
.wapnet-light #wapnetBackground {
  fill: black;
}
.wapnet-light #wapnetText {
  fill: yellow;
}
.wapnet-light select {
  appearance: none;
  -webkit-appearance: none;
}

.wapnet-dark {
  font-family: "CozetteVector";
  color: white;
  background: url("../images/snow.gif") repeat, #1d1f21;
}
.wapnet-dark #wapnetLogo {
  pointer-events: none;
}
.wapnet-dark #wapnetBackground {
  fill: yellow;
}
.wapnet-dark #wapnetText {
  fill: black;
}
.wapnet-dark select {
  appearance: none;
  -webkit-appearance: none;
}

.xmas #wapnetLogo {
  pointer-events: none;
}
.xmas #wapnetBackground {
  fill: #00873E;
}
.xmas #wapnetText {
  fill: #D6001C;
}

/*
    _____  __           _                  __ ____                   __             __    __ _ 
  / ___/ / /_   _____ (_)____   ___     _/_// __/____   _____     _/_/_____ ___   / /  _/_/| |
  \__ \ / __ \ / ___// // __ \ / _ \   / / / /_ / __ \ / ___/   _/_/ / ___// _ \ / / _/_/  / /
 ___/ // / / // /   / // / / //  __/  / / / __// /_/ // /     _/_/  / /__ /  __// /_/_/   / / 
/____//_/ /_//_/   /_//_/ /_/ \___/  / / /_/   \____//_/     /_/    \___/ \___//_//_/   _/_/  
                                     |_|                                               /_/    
Shrine is a theme that attempts to mimic the look and feel of Web 1.0 anime internet shrines. These were websites often hosted on geocities or personal univeristy pages, and though crude, they have a handcrafted charm about them. This is a light theme, though a dark variant may come later as many old anime shrines had dark themes (there was no real consistency).
*/
.shrine {
  font-family: "Times Pixelated 16", "CozetteVector";
  color: black;
  background: url("../images/dots.gif");
  cursor: url("../images/wincur.gif"), auto;
}
.shrine #wapnetLogo {
  pointer-events: none;
}
.shrine #wapnetBackground {
  fill: black;
}
.shrine #wapnetText {
  fill: yellow;
}
.shrine #title {
  font-family: "Times Pixelated 32", "CozetteVector";
}
.shrine select {
  appearance: none;
  -webkit-appearance: none;
  font-family: "Times Pixelated 16", "CozetteVector";
}

/*
 __  __        __                __               __ ____                   __     __ _         _     __ _ 
\ \/ /____   / /_ _____ __  __ / /_   ____ _   _/_// __/____   _____     _/_/____/ /(_)____ _ (_)  _/_/| |
 \  // __ \ / __// ___// / / // __ \ / __ `/  / / / /_ / __ \ / ___/   _/_/ / __  // // __ `// / _/_/  / /
 / // /_/ // /_ (__  )/ /_/ // /_/ // /_/ /  / / / __// /_/ // /     _/_/  / /_/ // // /_/ // /_/_/   / / 
/_/ \____/ \__//____/ \__,_//_.___/ \__,_/  / / /_/   \____//_/     /_/    \__,_//_/ \__, //_//_/   _/_/  
                                            |_|                                     /____/         /_/
Yotsuba is a theme largely based on the very early days of 4chan (circa 2003), since this where some of the best 2000s online anime discussions took place. As such, it's a oretty simple theme, and is mostly differentiated from the other themes by the sidebar on the front page, since this is actually how 4chan looked at the time. Here is the actual capture of 4chan.net that I used to help make the elements for this theme.
https://web.archive.org/web/20031122004728/http://www.4chan.net/
*/
.yotsuba {
  background: #FFFFEE;
  color: #800000;
  font-family: "Arial Pixelated 16", "CozetteVector";
  cursor: url("../images/wincur.gif"), auto;
}
.yotsuba #wapnetLogo {
  pointer-events: none;
}
.yotsuba #wapnetBackground {
  fill: black;
}
.yotsuba #wapnetText {
  fill: yellow;
}
.yotsuba #title {
  font-family: "Arial Pixelated 32", "CozetteVector";
}
.yotsuba select {
  appearance: none;
  -webkit-appearance: none;
}

/*
 __  __        __                __               __ ____                   __     __ _         _     __ _ 
\ \/ /____   / /_ _____ __  __ / /_   ____ _   _/_// __/____   _____     _/_/____/ /(_)____ _ (_)  _/_/| |
 \  // __ \ / __// ___// / / // __ \ / __ `/  / / / /_ / __ \ / ___/   _/_/ / __  // // __ `// / _/_/  / /
 / // /_/ // /_ (__  )/ /_/ // /_/ // /_/ /  / / / __// /_/ // /     _/_/  / /_/ // // /_/ // /_/_/   / / 
/_/ \____/ \__//____/ \__,_//_.___/ \__,_/  / / /_/   \____//_/     /_/    \__,_//_/ \__, //_//_/   _/_/  
                                            |_|                                     /____/         /_/
Yotsuba is a theme largely based on the very early days of 4chan (circa 2003), since this where some of the best 2000s online anime discussions took place. As such, it's a oretty simple theme, and is mostly differentiated from the other themes by the sidebar on the front page, since this is actually how 4chan looked at the time. Here is the actual capture of 4chan.net that I used to help make the elements for this theme.
https://web.archive.org/web/20031122004728/http://www.4chan.net/
*/
.yotsuba-b {
  background: #eef2ff;
  color: black;
  font-family: "Arial Pixelated 16", "CozetteVector";
  cursor: url("../images/wincur.gif"), auto;
}
.yotsuba-b #wapnetLogo {
  pointer-events: none;
}
.yotsuba-b #wapnetBackground {
  fill: black;
}
.yotsuba-b #wapnetText {
  fill: yellow;
}
.yotsuba-b #title {
  font-family: "Arial Pixelated 32", "CozetteVector";
}
.yotsuba-b select {
  appearance: none;
  -webkit-appearance: none;
}

/*
 __  __        __                __               __ ____                   __     __ _         _     __ _ 
\ \/ /____   / /_ _____ __  __ / /_   ____ _   _/_// __/____   _____     _/_/____/ /(_)____ _ (_)  _/_/| |
 \  // __ \ / __// ___// / / // __ \ / __ `/  / / / /_ / __ \ / ___/   _/_/ / __  // // __ `// / _/_/  / /
 / // /_/ // /_ (__  )/ /_/ // /_/ // /_/ /  / / / __// /_/ // /     _/_/  / /_/ // // /_/ // /_/_/   / / 
/_/ \____/ \__//____/ \__,_//_.___/ \__,_/  / / /_/   \____//_/     /_/    \__,_//_/ \__, //_//_/   _/_/  
                                            |_|                                     /____/         /_/
Yotsuba is a theme largely based on the very early days of 4chan (circa 2003), since this where some of the best 2000s online anime discussions took place. As such, it's a oretty simple theme, and is mostly differentiated from the other themes by the sidebar on the front page, since this is actually how 4chan looked at the time. Here is the actual capture of 4chan.net that I used to help make the elements for this theme.
https://web.archive.org/web/20031122004728/http://www.4chan.net/
*/
.pc-98 {
  background: black;
  color: white;
  font-family: "PC-98", "CozetteVector";
  cursor: url("../images/wincur.gif"), auto;
}
.pc-98 #wapnetLogo {
  pointer-events: none;
}
.pc-98 #wapnetBackground {
  fill: yellow;
}
.pc-98 #wapnetText {
  fill: black;
}
.pc-98 select {
  appearance: none;
  -webkit-appearance: none;
}