<header>
    <nav>[
        <a href="/">Home</a> /
        <a href="/pages/cool-sites">Cool Sites</a> /
        <a href="/news">News</a> / 
        <!--
        <a href="/cel">/cel/</a> / 
        <a href="/digi">/digi/</a> /
        <a href="/kind">/kind/</a>
        -->
    ]</nav>
    <!-- Theme Switcher -->
    <form id="themeSwitcherForm">
        <label for="themeSwitcherForm">Theme</label>
        <select name="switchcontrol" id="switchcontrol" onChange="chooseStyle(this.options[this.selectedIndex].value, 365);">
          {{ range readDir "assets/css/themes"}}
            {{ if (findRE ".scss$" .Name) }}
              {{ $niceName := substr .Name 1 -5 }}
              <option value="{{ $niceName }}">{{ strings.FirstUpper $niceName }}</option>
            {{ end }}
          {{ end }}
        </select>
      </form>
</header>