<header>
    <nav>[
        <a href="/">Home</a> /
        <a href="/pages/cool-sites">Cool Sites</a> /
        <a href="/news">News</a> / 
        <a href="https://test.wapchan.org/koko/">/cel/</a>
        <!--
        <a href="/digi">/digi/</a> /
        <a href="/kind">/kind/</a>
        -->
    ]</nav>
    <!-- Theme Switcher -->
    <form id="themeSwitcherForm">
        <label for="themeSwitcherForm">Theme</label>
        <select name="switchcontrol" id="switchcontrol" onChange="chooseStyle(this.options[this.selectedIndex].value, 365);">
          {{ range readDir "assets/css/themes"}}
            {{ if (findRE ".scss$" .Name) }}
              {{ $niceName := substr .Name 1 -5 }}
              <option value="{{ $niceName }}">{{ strings.FirstUpper $niceName }}</option>
            {{ end }}
          {{ end }}
        </select>
      </form>
      <svg id="wapnetLogo" width="10" height="6" transform="scale(15) translate(5, 10) rotate(-10)" opacity=".25">
        <rect id="wapnetBackground" x="0" y="0" width="10" height="6"></rect>
        <g id="wapnetText">
            <rect x="1" y="1" width="1" height="3"></rect>
            <rect x="2" y="4" width="1" height="1"></rect>
            <rect x="3" y="1" width="1" height="3"></rect>
            <rect x="4" y="4" width="1" height="1"></rect>
            <rect x="5" y="1" width="1" height="3"></rect>
            <rect x="6" y="2" width="1" height="1"></rect>
            <rect x="7" y="3" width="1" height="1"></rect>
            <rect x="8" y="1" width="1" height="4"></rect>
        </g>
    </svg>
</header>