<header>
    <nav>[
        <a href="/">Home</a> /
        <a href="/pages/cool-sites">Cool Sites</a> /
        <a href="/news">News</a> / 
        <!--
        <a href="/cel">/cel/</a> / 
        <a href="/digi">/digi/</a> /
        <a href="/kind">/kind/</a>
        -->
    ]</nav>
    <form id="switchform" class="switchformTop">
        <label for="switchcontrol">Style</label>
        <select name="switchcontrol" id="switchcontrol" onChange="chooseStyle(this.options[this.selectedIndex].value, 365); parent.menu.location.reload()">
          <option value="none">Wapnet Dark</option>
          <option value="wapnet-light">Wapnet Light</option>
          <option value="xmas">Xmas</option>
        </select>
      </form>
</header>