.wapnet-light {
    font-family: "CozetteVector";
    color: black;
    background: url("../images/antisnow.gif") repeat, #e2e0de;
    #wapnetBackground {
        fill: black;
    }
    #wapnetText {
        fill: yellow;
    }
}