.wapnet-dark {
    font-family: "CozetteVector";
    color: white;
    background: url("../images/snow.gif") repeat, #1d1f21;
    #wapnetLogo {
        pointer-events: none;
    }
    #wapnetBackground {
        fill: yellow;
    }
    #wapnetText {
        fill: black;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
    }
}