.wapnet-dark {
    color: white;
    background: url("../images/snow.gif") repeat, #1d1f21;
    color: white;
    #wapnetBackground {
        fill: yellow;
    }
    #wapnetText {
        fill: black;
    }
}