.wapnet-light {
    font-family: "CozetteVector";
    color: black;
    background: url("../images/antisnow.gif") repeat, #e2e0de;
    #wapnetLogo {
        pointer-events: none;
    }
    #wapnetBackground {
        fill: black;
    }
    #wapnetText {
        fill: yellow;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
    }
}